@charset "utf-8";

/* font ---------------------------------------- */
/* @import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css'); */



@font-face {
  font-family: 'Pretendard';
  font-weight: 900;
  font-display: swap;
  src: url('../font/Pretendard-Black.woff2') format('woff2'), url('../font/Pretendard-Black.woff') format('woff');
}

@font-face {
  font-family: 'Pretendard';
  font-weight: 800;
  font-display: swap;
  src: url('../font/Pretendard-ExtraBold.woff2') format('woff2'), url('../font/Pretendard-ExtraBold.woff') format('woff');
}

@font-face {
  font-family: 'Pretendard';
  font-weight: 700;
  font-display: swap;
  src: url('../font/Pretendard-Bold.woff2') format('woff2'), url('../font/Pretendard-Bold.woff') format('woff');
}

@font-face {
  font-family: 'Pretendard';
  font-weight: 600;
  font-display: swap;
  src: url('../font/Pretendard-SemiBold.woff2') format('woff2'), url('../font/Pretendard-SemiBold.woff') format('woff');
}

@font-face {
  font-family: 'Pretendard';
  font-weight: 500;
  font-display: swap;
  src: url('../font/Pretendard-Medium.woff2') format('woff2'), url('../font/Pretendard-Medium.woff') format('woff');
}

@font-face {
  font-family: 'Pretendard';
  font-weight: 400;
  font-display: swap;
  src: url('../font/Pretendard-Regular.woff2') format('woff2'), url('../font/Pretendard-Regular.woff') format('woff');
  unicode-range: U+0041-005A, U+0061-007A, U+AC00-D7A3, U+0030-0039;
  /* 유니코드 범위
    - U+0041-005A, U+0061-007A	// 영문 대소문자
    - U+AC00-D7A3 // 한글
    - U+0030-0039 // 숫자
    */
}

@font-face {
  font-family: 'Pretendard';
  font-weight: 300;
  font-display: swap;
  src: url('../font/Pretendard-Light.woff2') format('woff2'), url('../font/Pretendard-font-weight: 300;.woff') format('woff');
}

@font-face {
  font-family: 'Pretendard';
  font-weight: 200;
  font-display: swap;
  src: url('../font/Pretendard-ExtraLight.woff2') format('woff2'), url('../font/Pretendard-ExtraLight.woff') format('woff');
}

@font-face {
  font-family: 'Pretendard';
  font-weight: 100;
  font-display: swap;
  src: url('../font/Pretendard-Thin.woff2') format('woff2'), url('../font/Pretendard-Thin.woff') format('woff');
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local(''),
    url('../font/Roboto-Regular.eot'),
    url('../font/Roboto-Regular.eot#iefix') format('embedded-opentype'),
    url('../font/Roboto-Regular.woff') format('woff'),
    url('../font/Roboto-Regular.otf') format('opentype'),
    url('../font/Roboto-Regular.ttf') format('truetype');
  unicode-range: U+0030-0039;
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  src: local(''),
    url('../font/Roboto-Medium.eot'),
    url('../font/Roboto-Medium.eot#iefix') format('embedded-opentype'),
    url('../font/Roboto-Medium.woff') format('woff'),
    url('../font/Roboto-Medium.otf') format('opentype'),
    url('../font/Roboto-Medium.ttf') format('truetype');
  unicode-range: U+0030-0039;
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: local(''),
    url('../font/Roboto-Bold.eot'),
    url('../font/Roboto-Bold.eot#iefix') format('embedded-opentype'),
    url('../font/Roboto-Bold.woff') format('woff'),
    url('../font/Roboto-Bold.otf') format('opentype'),
    url('../font/Roboto-Bold.ttf') format('truetype');
  unicode-range: U+0030-0039;
}

/* reset ---------------------------------------- */
* {
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  padding: 0;
  margin: 0;
  font-family: 'Pretendard', Roboto, -apple-system, BlinkMacSystemFont, 'Malgun Gothic', '맑은 고딕', 'helvetica', 'Apple SD Gothic Neo', sans-serif;
  letter-spacing: -0.25px;
}

body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
textarea,
p,
blockquote,
th,
td,
input,
select,
textarea,
button {
  margin: 0;
  padding: 0
}

fieldset,
img {
  border: 0 none
}

dl,
ul,
ol,
menu,
li {
  list-style: none
}

blockquote,
q {
  quotes: none
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none
}

h1,
h2,
h3,
h4,
h5 {
  padding: 0;
  margin: 0;
}

p {
  margin: 0;
  padding: 0;
  word-wrap: break-word;
  word-break: keep-all;
}

a,
a:hover,
a:focus {
  text-decoration: none;
  color: var(--color-text);
}

fieldset,
img {
  border: 0 none
}

img {
  width: 100%;
  height: 100%;
  position: relative;
}

input,
select,
textarea,
button {
  vertical-align: middle;
}

input {
  appearance: none;
  -webkit-appearance: none;
  -webkit-border-radius: 0;
  border: 0 none;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

input::-ms-clear {
  display: none
}

input::-webkit-contacts-auto-fill-button {
  visibility: hidden;
  display: none !important;
  pointer-events: none;
  position: absolute;
  right: 0
}

input {
  font-size: 16px;
}

button {
  color: var(--color-text);
  border: 0 none;
  border-radius: 10px;
  background-color: transparent;
  cursor: pointer;
  font-family: 'Pretendard', Roboto, -apple-system, BlinkMacSystemFont, 'Malgun Gothic', '맑은 고딕', 'helvetica', 'Apple SD Gothic Neo', sans-serif;
}

address,
caption,
cite,
code,
dfn,
em,
var {
  font-style: normal;
  font-weight: normal
}

caption {
  position: absolute;
  left: -9999px;
  width: 0.01px;
  height: 0.01px;
  font-size: 0.1px;
  line-height: 0.01px;
  overflow: hidden;
}

table {
  border-spacing: 0;
  border-collapse: collapse;
}

textarea {
  -webkit-appearance: none;
  -webkit-border-radius: 0;
  width: 100%;
  min-height: 270px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 10px 20px;
  border: 1px solid var(--color-line);
  outline: none;
  font: inherit;
  resize: none;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  transition: all 0.3s ease;
  overflow: auto;
}

textarea:disabled {
  background: var(--color-btn-hover);
}

legend {
  position: absolute;
  left: -9999px;
  width: 0.01px;
  height: 0.01px;
  font-size: 0.1px;
  line-height: 0.01px;
  overflow: hidden;
}

input::placeholder {
  font-family: 'Pretendard', Roboto, -apple-system, BlinkMacSystemFont, 'Malgun Gothic', '맑은 고딕', 'helvetica', 'Apple SD Gothic Neo', sans-serif;
  color: var(--color-black-99) !important;
  font-weight: 400 !important;
}



select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  -webkit-border-radius: 0;
}

select::-ms-expand {
  display: none;
  /* 화살표 없애기 for IE10, 11*/
}

.blind {
  position: absolute;
  left: -9999px;
  width: 0.01px;
  height: 0.01px;
  font-size: 0.1px;
  line-height: 0.01px;
  overflow: hidden;
}

.tac {
  text-align: center !important;
}

.tar {
  text-align: right !important;
}

.mob_visible {
  display: none;
}

#search_input::placeholder{
  color: #999;
}
.cpage {
  color: var(--color-yellow) !important;
}

/* base colors ------------------------------------ */
:root {
  /* --color-background: #3a3a3a; */
  /* --color-background: #2C3044; */
  /* --color-background: #2B353F; */
  --color-background: #0F181F;
  --color-text: #fff;
  --color-line: #fff;
  --color-border: #fff;
  --color-space: #3951A1;
  --color-space-click: #0b2a8e;
  --color-yellow: #F5DF4E;
  --color-white: #FFF;
  --color-red: #ff0000;
  --color-black: #000;
  --color-gray: #555;
  --color-gold: #D5A11E;
  --color-silver: #A3A3A3;
  --color-bronze: #CD7F32;
  --color-btnActive: #0075FF;
  --color-gray: #555;
  --color-gold: #D5A11E;
  --color-silver: #A3A3A3;
  --color-bronze: #CD7F32;
  --color-btnActive: #0075FF;
  --color-files: #7d8cbf;
  
  /* background-color: #F5DF4E; */
  /* background-color: #3951A1; */
  /* background-color: #0093C5; */
  /* background-color: #F5DF4E; */
}

@media all and (max-width: 650px) {
  .m_tac {
    text-align: center !important;
  }

  .mob_visible {
    display: inline-block;
  }

  .mob_hidden {
    display: none !important;
  }
}