/* 게시물 관리 */
/* 게시물 관리 셀렉트 */
.body_area .con .select_subject ul {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.body_area .con .select_subject::after {
  content: "";
  display: block;
  width: 40%;
  height: 2px;
  background-color: var(--color-line);
  margin: 0 auto;
  margin-top: 10px;
  margin-bottom: 30px;
}

.body_area .con.comu_con .select_subject::after {
  width: 60%;
}

.body_area .con .select_subject ul li a {
  font-size: 20px;
  padding: 0 60px;
}

/* 게시물 관리 테이블 */
.list_table {
  border-top: 2px solid #fff;
  position: relative;
}

.list_table::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  display: block;
  background-color: var(--color-space);
  top: 0;
  opacity: .4;
  z-index: 0;
}

.faq.list_table::after {
  content: none;

}

.faq.list_table ul li::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  display: block;
  background-color: var(--color-space);
  top: 0;
  opacity: .4;
  z-index: 0;
}

.table_row {
  display: flex;
  position: relative;
  z-index: 3;
  border-top: 1px solid var(--color-line);
}

.table_row:last-child {
  border-bottom: 1px solid var(--color-line);
}

.table_header {
  font-weight: bold;
  border: none;
}

.table_col {
  text-align: left;
  color: #fff;
  text-align: center;
  word-break: keep-all;
  word-wrap: break-word;
}

.table_col:nth-child(1) {
  width: 10%;
}

.table_col:nth-child(2) {
  width: 70%;
  text-align: left;
}

.table_header .table_col:nth-child(2) {
  width: 70%;
  text-align: center;
}

.table_col:nth-child(3) {
  width: 10%;
}

.table_col:nth-child(4) {
  width: 10%;
}

.member_con .table_col:nth-child(1) {
  width: 10%;
}

.member_con .table_col:nth-child(2) {
  width: 30%;
  text-align: center;
}

.member_con .table_col:nth-child(3) {
  width: 30%;
}

.member_con .table_col:nth-child(4) {
  width: 20%;
}

.member_con .table_col:nth-child(5) {
  width: 10%;
}

.member_con .table_row:not(.table_header) .table_col:nth-child(5) {
  padding: 10px;
}

.member_con .table_col:nth-child(5) button {
  width: 100%;
  height: 100%;
  background-color: var(--color-space);
  border-radius: 10px;
}

.table_col a {
  width: 100%;
  height: 100%;
  display: block;
  padding: 20px 0px;
  padding-left: 10px;
}

.table_col span {
  width: 100%;
  height: 100%;
  display: block;
  padding: 20px 0px;
}

.table_row .table_col:last-child span {
  padding-right: 10px;
}

/* 게시물 관리 페이지네이션 */
.pagination {
  width: 100%;
  font-size: 18px;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.pagination a {
  padding: 0 20px;
}
.pagination a.active {
  color: var(--color-yellow);
}
.pagination .start_arr.disabled,
.pagination .end_arr.disabled {
  opacity: 0.6;
  pointer-events: none;
}
.pagination .arr_navi {
  padding: 5px 10px;
  border-radius: 5px;
  position: relative;
  margin: 0 10px;
}
.pagination .start_navi {
  rotate: 180deg;
}
.pagination .navi_icon {
  width: 20px;
  height: 20px;
  top: 4px;
  z-index: 1;
}

.pagination .arr_navi::after {
  background-color: var(--color-white);
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 5px;
}

/* 메인배너 공통 */
.select_banner {
  border-top: 2px solid #fff;
  position: relative;
}

.select_banner::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  display: block;
  background-color: var(--color-space);
  top: 0;
  opacity: .4;
  z-index: 0;
}

.banner_row {
  display: flex;
  position: relative;
  z-index: 3;
  border-top: 1px solid var(--color-line);
  align-items: center;
}

.banner_row:last-child {
  border-bottom: 1px solid var(--color-line);
}

.banner_header {
  font-weight: bold;
  border: none;
}

.banner_col {
  text-align: left;
  color: #fff;
  text-align: center;
  word-break: keep-all;
  word-wrap: break-word;
}

.banner_col input {
  appearance: auto;
}

.banner_col:nth-child(1) {
  width: 5%;
}

.banner_col:nth-child(2) {
  width: 10%;
}

.banner_col:nth-child(3) {
  width: 30%;
}

.banner_col:nth-child(4) {
  width: 30%;
}

.banner_col:nth-child(5) {
  width: 25%;
}


.banner_col a {
  width: 100%;
  height: 100%;
  display: block;
  padding: 20px 0px;
}

.banner_col>span {
  width: 100%;
  height: 100%;
  display: block;
  padding: 20px 0px;
}


.banner_col.banner_url .url_cont {
  display: flex;
  padding: 10px;
  align-items: center;
}

.banner_col.banner_url .url_cont span {
  font-size: 16px;
  display: block;
  padding-right: 20px
}

.banner_col.banner_url .url_input {
  width: 100%;
  font-size: 16px;
  height: 45px;
  background-color: var(--color-line);
  color: var(--color-black);
  text-align: left;
  border-radius: 10px;
  display: flex;
  align-items: center;
  padding: 10px;
}

.banner_col .use_select label {
  display: flex;
  align-items: center;
}

.banner_col .use_select label:first-child {
  padding-right: 20px;
}

.banner_col .use_select fieldset {
  display: flex;
  justify-content: center;
}

.banner_col .use_select label {
  display: flex;
  align-items: center;
}

.banner_col .use_select label:first-child {
  padding-right: 20px;
}

.banner_col .use_select label span {
  margin-left: 10px;
}

.btn_wrap #delete_btn {
  padding: 10px 20px;
  background-color: var(--color-space);
  color: var(--color-black);
  border-radius: 10px;
  font-weight: 500;
  color: #fff;
}

.btn_wrap #delete_btn:active {
  background-color: var(--color-btnActive);
}

.image_container {
  position: relative;
  width: 100%;
  height: 100%;
}

.image_container img {
  width: 100%;
  height: auto;
  cursor: pointer;
}

.upload {
  position: absolute;
  top: calc((100% - 45px) / 2);
  left: 0;
  width: 100%;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--color-space);
  color: var(--color-black);
  border-radius: 10px;
  font-weight: 500;
  cursor: pointer;
  color: var(--color-white);
}

.btn_wrap {
  margin-bottom: 20px;
  text-align: right;
}

.submit_wrap {
  margin-top: 20px;
  text-align: center;
}

#add_banner_btn,
#submit_changes_btn {
  padding: 10px 20px;
  background-color: var(--color-space);
  color: #fff;
  border-radius: 10px;
  font-weight: 500;
  cursor: pointer;
}

#add_banner_btn:active,
#submit_changes_btn:active {
  background-color: var(--color-btnActive);
}

/* 게임 영역 */

.game_banner .banner_col:nth-child(1) {
  width: 20%;
}

.game_banner .banner_col:nth-child(2) {
  width: 60%;
}

.game_banner .banner_col:nth-child(3) {
  width: 20%;
}

.game_banner .banner_col.banner_img {
  display: flex;
  justify-content: center;
}

.game_banner .banner_col.banner_img span {
  max-width: 150px;
}

.con .game_btn {
  display: flex;
  padding-top: 30px;
  justify-content: flex-end;
}

.con .game_btn button {
  padding: 10px 20px;
  background-color: var(--color-line);
  color: var(--color-black);
  border-radius: 10px;
  font-weight: 500;
  font-size: 18px;
}

.con .game_btn button:active {
  background-color: var(--color-btnActive);
  color: #fff;
}

/*게시물 확인 */
/* 게시물의 각 댓글 */
.comment-container {
  display: flex;
  align-items: center;
  margin-top: 10px;
}


/* 게시물 관리 토글 스타일 */
.post-title {
  font-size: 20px;
  margin: 0;
  color: white;
  font-weight: bold;
}

.all-posts .post.active .post-comments {
  display: block;
}

.post-toggle .fas {
  display: none;
}

.post-toggle .fa-chevron-down {
  display: inline;
}

/* .list_table.all-posts ul li .post-toggle .fa-chevron-down {
  display: inline;
  right: 20px;
  top: calc((100% - 20px) / 2);
  position: absolute;
  font-size: 20px;
} */

.list_table.all-posts ul li.active .post-toggle .fa-chevron-down {
  display: none;
}

.list_table.all-posts ul li.active .post-toggle .fas.fa-times {
  display: inline;
}

.post.active .post-toggle .fa-chevron-down {
  display: none;
}

.all-posts ul li {
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid white;
  border-radius: 10px;
  position: relative;
}

.all-posts ul li::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  display: block;
  background-color: var(--color-space);
  top: 0;
  left: 0;
  opacity: .4;
  z-index: 0;
  border-radius: 10px;
}

.all-posts ul li * {
  position: relative;
  z-index: 1;
}

.all-posts .post-comments {
  display: none;
  margin-top: 10px;
  color: white;
  position: relative;
  /* 상대 위치 설정 */
  padding-right: 30px;
  /* 버튼 공간 확보 */
}

.all-posts .delete_comments_btn {
  display: none;
  position: absolute;
  /* 절대 위치 설정 */
  right: 0;
  /* 부모 요소의 오른쪽 끝에 배치 */
  top: 50%;
  transform: translateY(-50%);
  padding: 8px 10px;
  background-color: var(--color-space-click);
  border-radius: 5px;
  font-weight: 500;
  font-size: 13px;
  cursor: pointer;
}

.all-posts .post.active .delete_comments_btn {
  display: inline-block;
  /* 댓글이 보일 때 버튼도 보이도록 설정 */
}


.post-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.right-button {
  margin-left: auto;
  padding: 8px 10px;
  background-color: var(--color-space-click);
  border-radius: 5px;
  font-weight: 500;
  font-size: 13px;
  cursor: pointer;
}


.all-posts .post-toggle {
  background: none;
  border: none;
  cursor: pointer;
  position: absolute !important;
  /* right: 20px;
  top: 10px; */
  /* width: 100%;
  height: 100%; */
  color: #fff;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}

/* 테이블 반응형 스타일 */
.post_con .table_col:nth-child(1) {
  width: 10%;
}

.post_con .table_col:nth-child(2) {
  width: 60%;
  text-align: center;
}

.post_con .table_col:nth-child(3) {
  width: 10%;
}

.post_con .table_col:nth-child(4) {
  width: 10%;
}

.post_con .table_col:nth-child(5) {
  width: 10%;
}

/* .table_col .delete_btn {
  width: 100%;
  height: 100%;
  display: block;
  padding: 20px 0px;
} */
.post_con .table_col {
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
  padding: 10px;
}

.restore_btn {
  background-color: var(--color-space);
  border-radius: 5px;
  font-weight: 500;
  font-size: 18px;
  cursor: pointer;
  padding: 10px 20px;
}

.restore_btn:hover {
  background-color: var(--color-silver);
}

/* qa 테이블 */
.qa_con .table_col:nth-child(1),
.qa_detail_con .table_col:nth-child(1) {
  width: 25%;
}

.qa_con .table_col:nth-child(2),
.qa_detail_con .table_col:nth-child(2) {
  width: 25%;
  text-align: center;
}

.qa_con .table_header .table_col:nth-child(2),
.qa_detail_con .table_header .table_col:nth-child(2) {
  width: 25%;
  text-align: center;
}

.qa_con .table_col:nth-child(3),
.qa_detail_con .table_col:nth-child(3) {
  width: 25%;
}

.qa_con .table_col:nth-child(4),
.qa_detail_con .table_col:nth-child(4) {
  width: 25%;
}

/* QA 디테일 공통 */
.body .wrap .detail_wrap {
  padding: 60px 0 60px 0;
  flex: 1 1 auto;
}

/* body 콘텐츠 영역 */
.body .wrap .detail_wrap .title_box {
  color: var(--color-text);
  padding-bottom: 20px;
}

.body .wrap .detail_wrap .title {
  font-size: 28px;
}

.body .wrap .detail_wrap .subtxt {
  font-size: 20px;
}


.qa_detail_con .table_col span {
  width: unset;
  height: unset;
  display: unset;
  padding: unset;
}


.qa_detail_con .list_table {
  margin-bottom: 20px;
}

.qa_detail_con .table_row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: var(--color-line);
  padding: 10px 0;
  text-align: left;
  border-bottom: 1px solid #fff;
}

.qa_detail_con .table_col {
  flex: 1;
  text-align: center;
  padding-left: 10px;
  font-weight: bold;
}

.qa_detail_con .table_col_header {
  flex: 1;
  color: #fff;
  font-weight: bold;
  padding-left: 10px;
}

/* QA리스트로 돌아가는 버튼 */
.qa_detail_con .btns {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  margin-top: 20px;
}

.qa_detail_con .save_btn {
  padding: 10px 20px;
  background-color: var(--color-space);
  border-radius: 10px;
  font-weight: 500;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
}

.qa_detail_con .list_btn {
  padding: 10px 20px;
  background-color: var(--color-space);
  border-radius: 10px;
  font-weight: 500;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
}

.qa_detail_con .save_btn:active {
  background-color: var(--color-space-click);
}

.qa_detail_con .list_btn:hover {
  background-color: var(--color-space-click);
}

.qa_detail_con .answer_section h3 {
  color: var(--color-white);
}

.qa_detail_con .answer_section textarea {
  width: 100%;
  /* 최소 높이 설정 */
  min-height: 100px !important;
  box-sizing: border-box;
  margin-top: 15px;
  border-radius: 10px;
}

/* 회원 관리 영역 */
/* div{
  border: 1px solid black;
} */
.post_con .search_box {
  display: flex;
  padding-bottom: 5px;
}

.search_box {
  display: flex;
  justify-content: center;
  padding-top: 12px;
}

.post_con .search_box .flex_space {
  flex: 7;
}

.post_con .search_box .search_bar {
  flex: 3;
  display: flex;
  border-radius: 10px;
  overflow: hidden;
}

.search_box .search_bar {
  width: 35%;
  display: flex;
  border-radius: 10px;
  overflow: hidden;
}

.post_con .search_box .search_bar .search_input {
  flex: 9;
}

.search_box .search_bar .search_input {
  flex: 9.5;
}

.post_con .search_box .search_bar .search_input .input_tag,
.search_box .search_bar .search_input .input_tag {
  width: 100%;
  height: 100%;
  padding: 10px;
}

.post_con .search_box .search_bar .search_img {
  flex: 1;
  min-width: 40px;
  background-color: var(--color-white);
}

.post_con .search_box .search_bar .search_img a {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.post_con .search_box .search_bar .search_img a img {
  width: 24px;
  height: 24px;
}

.search_box .search_bar .search_img {
  flex: 0.5;
  background-color: var(--color-white);
}

.search_box .search_bar .search_img img {
  width: 30px;
}

.search_box .search_bar .search_img a {
  display: flex;
  padding: 5px 7px;
}

.member_con .pagination {
  padding-top: 20px;
}

/* qa 리스트 */
.qa.table_col:nth-child(1) {
  width: 20%;
}

.qa .table_col:nth-child(2) {
  width: 20%;
  text-align: center;
}

.qa .table_header .table_col:nth-child(2) {
  width: 20%;
  text-align: center;
}

.qa .table_col:nth-child(3) {
  width: 20%;
}

.qa .table_col:nth-child(4) {
  width: 20%;
}

.qa .table_col:nth-child(5) {
  width: 20%;
}


/* FAQ 리스트 */
.faq-title {
  font-size: 20px;
  margin: 0;
  color: white;
  font-weight: bold;
}

.list_table.faq_table .faq-text {
  display: none;
  /* 기본적으로 숨김 */
  margin-top: 15px;
  color: white;
  padding: 10px 0;
}

.list_table.faq_table .faq.active .faq-text {
  display: flex;
  /* 토글 활성화 시 보이게 함 */
  justify-content: space-between;
  align-items: center;
}

.list_table.faq_table .faq-text .faq-delete {
	/* 기본적으로 숨김 */
  display: none;
}

.faq.active .faq-text .faq-delete {
/* 토글 활성화 시 보이게 함 */
  display: block;
  background-color: var(--color-space-click);
  border: none;
  color: white;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
  margin-left: 20px;
}

.faq-toggle .fas {
  display: none;
}

.faq-toggle .fa-chevron-down {
  display: inline;
}

.faq.active .faq-toggle .fa-chevron-down {
  display: none;
}

.faq.active .faq-toggle .fa-times {
  display: inline;
}

.list_table.faq_table ul li {
  position: relative;
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid white;
  border-radius: 10px;
}

.list_table.faq_table ul li::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  display: block;
  background-color: var(--color-space);
  top: 0;
  left: 0;
  opacity: .4;
  z-index: 0;
  border-radius: 10px;
}

.list_table.faq_table ul li * {
  position: relative;
  z-index: 1;
}

.list_table.faq_table .faq-toggle {
  background: none;
  border: none;
  cursor: pointer;
  position: absolute;
  right: 10px;
  top: 10px;
  color: #fff;
  width: 25px;
  height: 25px;
}

/* FAQ 버튼들 */
.faq .btns {
  display: flex;
  justify-content: flex-end;
  /* 오른쪽 정렬 */
  gap: 10px;
  margin: 20px 0;
}

.faq .faq_btn,
.faq .save_btn,
.faq .cancel_btn {
  padding: 10px 20px;
  background-color: var(--color-space);
  border-radius: 10px;
  font-weight: 500;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
}

.faq .faq_btn:hover,
.faq .save_btn:hover,
.faq .cancel_btn:hover {
  background-color: var(--color-space-click);
}

/* 관리자 공지사항 */
.body_area .con .ntc.select_subject::after {
  width: 75%;
}

.ntc .table_col:nth-child(1) {
  width: 10%;
}

.ntc .table_col:nth-child(2) {
  width: 60%;
  text-align: center;
}

.ntc .table_header .table_col:nth-child(2) {
  width: 60%;
  text-align: center;
}

.ntc .table_col:nth-child(3) {
  width: 10%;
}

.ntc .table_col:nth-child(4) {
  width: 10%;
}

.ntc .table_col:nth-child(5) {
  width: 10%;
}

.ntc .btn {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  margin: 20px 0;
}

.ntc .write_btn {
  padding: 10px 20px;
  background-color: var(--color-space);
  border-radius: 10px;
  font-weight: 500;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
}

.ntc .write_btn:hover {
  background-color: var(--color-space-click);
}

.ntc a:last-child .table_row {
  border-bottom: 1px solid var(--color-line) !important;
}
.ntc a .table_row:last-child {
  border-bottom: none;
}

/* 임시 보관 댓글 */
.keep .table_col:nth-child(1) {
  width: 10%;
}

.keep .table_col:nth-child(2) {
  width: 35%;
  text-align: center;
}

.keep .table_header .table_col:nth-child(2) {
  width: 35%;
  text-align: center;
}

.keep .table_col:nth-child(3) {
  width: 35%;
}

.keep .table_col:nth-child(4) {
  width: 10%;
}

.keep .table_col:nth-child(5) {
  width: 10%;
}


/* 관리자 qna */
.qa .table_col a {
  width: 100%;
  height: 100%;
  display: block;
  padding: 0;
}


