/* body padding*/
.body .wrap .con_wrap {
  min-height: 70vh;
  padding: 60px 0 60px 0;
  flex: 1 1 auto;
}

/* body 콘텐츠 영역*/
.body .wrap .con_wrap .title_box {
  color: var(--color-text);
  padding-bottom: 40px;
}

.body .wrap .con_wrap .title {
  font-size: 28px;

}

.body .wrap .con_wrap .subtxt {
  font-size: 20px;
}

/* 테이블 공통 */
.list_table {
  border-top: 2px solid #fff;
  position: relative;
}

.list_table::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  display: block;
  background-color: var(--color-space);
  top: 0;
  opacity: .4;
  z-index: 0;
}

.table_row {
  display: flex;
  position: relative;
  z-index: 3;
  border-top: 1px solid var(--color-line);
}

.table_row:last-child {
  border-bottom: 1px solid var(--color-line);
}

.table_header {
  font-weight: bold;
  border: none;
}

.table_col {
  text-align: left;
  color: #fff;
  text-align: center;
  word-break: keep-all;
  word-wrap: break-word;
}

.table_col:nth-child(1) {
  width: 5%;
}

.table_col:nth-child(2) {
  width: 70%;
  text-align: left;
}

.table_header .table_col:nth-child(2) {
  width: 70%;
  text-align: center;
}

.table_col:nth-child(3) {
  width: 10%;
}

.table_col:nth-child(4) {
  width: 10%;
}

.table_col:nth-child(5) {
  width: 5%;
}

.table_col a {
  width: 100%;
  height: 100%;
  display: block;
  padding: 20px 0px;
  padding-left: 10px;
  word-wrap: break-word;
  word-break: break-all;
}

.table_col span {
  width: 100%;
  height: 100%;
  display: block;
  padding: 15px 0px 15px 10px;
  text-align: left;
  word-wrap: break-word;
  word-break: break-all;
}

.table_row .table_col:last-child span {
  padding-right: 10px;
}

.write_btn {
  padding: 10px 20px;
  background-color: var(--color-space);
  border-radius: 10px;
  font-weight: 500;
  font-size: 18px;
  cursor: pointer;

}

/* 메인 스와이퍼 영역 */
.swiper-wrapper .swiper-slide .swiper_bg {
  background-size: cover !important;
  background-position: center !important;
  background-color: #000 !important;
  background-repeat: no-repeat !important;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  height: 100%;
  min-height: 500px;
}

.swiper-wrapper .swiper-slide .swiper_bg img {
  z-index: -9999;
}

/* 스와이퍼  */


/* 스와이퍼 next prev 버튼 */
.swiper-button-next,
.swiper-button-prev {
  color: var(--color-yellow);
}

/* 페이지네이션 */
.swiper-pagination-bullet {
  width: var(--swiper-pagination-bullet-width, var(--swiper-pagination-bullet-size, 10px));
  height: var(--swiper-pagination-bullet-height, var(--swiper-pagination-bullet-size, 10px));
  background: var(--color-yellow);
}

.swiper-pagination-bullet-active {
  background: var(--color-yellow);
}



/* 메인 콘테이너  */
.body .wrap .con_wrap.main_con {
  padding: 100px 0 100px 0;
}

/* Game Container */
.con_wrap.main_con .game_con {
  position: relative;
  margin-bottom: 60px;
}

.con_wrap.main_con .game_con .swiper_button_box {
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  flex-direction: row-reverse;
}

.con_wrap.main_con .game_con .swiper_button_box .swiper_btn {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color-line);
  border-radius: 10px;
}

.con_wrap.main_con .game_con .swiper_button_box .swiper_btn.swiper_btn_prev {
  margin-right: 20px;
}

.con_wrap.main_con .game_con .swiper_button_box .swiper_btn.swiper_btn_prev img {
  transform: rotate(180deg);
}

.con_wrap.main_con .game_con .swiper-button-disabled img {
  opacity: .3;
}

.swiper-backface-hidden .swiper-slide .game_box {
  display: block;
  width: 100%;
  height: 100%;
}

/* Dual Container */
.con_wrap.main_con .dual_con {
  display: flex;
  gap: 0 80px;
  height: 450px;
}

.con_wrap.main_con .dual_con .title_box {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.con_wrap.main_con .dual_con .title_box a {
  display: flex;
  width: 24px;
  height: 16px;
  background-image: url(../image/icon/sub_menu_arr.png);
  background-repeat: no-repeat;
  background-size: cover;
  align-items: center;
  opacity: .5;
  transition: ease-in-out .3s;
}

/* 랭킹 콘테이너  */
.con_wrap.main_con .dual_con .rank_con {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.con_wrap.main_con .dual_con .rank_con .rank_cont {
  display: flex;
  height: 100%;
  position: relative;
}

.con_wrap.main_con .dual_con .rank_con .rank_cont::after {
  content: "";
  position: absolute;
  display: flex;
  background-image: url(../image/main/rank.png);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 0;
  background-position: center;
  border-radius: 10px;
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

.con_wrap.main_con .dual_con .rank_con .rank_cont>* {
  position: relative;
  z-index: 1;
}

.con_wrap.main_con .dual_con .rank_con .rank_cont>div {
  display: flex;
  flex: 1;
  position: relative;
  align-items: center;
  justify-content: center;
}

.con_wrap.main_con .dual_con .rank_con .rank_cont div a {
  position: absolute;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  overflow: hidden;
}

.con_wrap.main_con .dual_con .rank_con .rank_cont .first_place a {
  top: 15%;
}

.con_wrap.main_con .dual_con .rank_con .rank_cont .second_place a {
  top: 35%;
}

.con_wrap.main_con .dual_con .rank_con .rank_cont .third_place a {
  bottom: 30%;
}


/* 게시판 콘테이너  */
.con_wrap.main_con .dual_con .noti_con {
  flex: 1;
}

.con_wrap.main_con .noti_con .table_header .table_col:nth-child(1) {
  text-align: center;
}

.con_wrap.main_con .noti_con .table_col:nth-child(1) {
  width: 80%;
  text-align: left;
}

.con_wrap.main_con .noti_con .table_col:nth-child(2) {
  width: 20%;
  text-align: center;
}

/* ourpage */
.body_area .con_wrap .our_con {
  display: flex;
  flex-direction: column;
  position: relative;
}

.body_area .con_wrap .our_con .our_box {
  display: block;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.body_area .con_wrap .our_con .our_tit {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}

.body_area .con_wrap .our_con .img_box {
  width: 126px;
  height: 151px;
  background-image: url(../image/ourpage/ourpageframe.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 1;
}

.body_area .con_wrap .our_con .img_box img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  position: absolute;
  top: 32%;
  box-shadow: 1px 3px 5px 3px var(--color-background);
}

.body_area .con_wrap .our_con .our_cont {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  padding: 60px 10px 60px 10px;
  margin-top: -30px;
  border: 3px solid var(--color-line);
  border-radius: 10px;
  text-align: center;
}

.body_area .con_wrap .our_con .our_cont .our_name {
  font-size: 18px;
  font-weight: 500;
}

.body_area .con_wrap .our_con .our_cont span {
  padding-bottom: 10px;
}

.body_area .con_wrap .our_con .our_cont span:last-child {
  padding-bottom: 0;
}


/* ourpage swiper */
.con_wrap .our_con .swiper_cont.ourswiper_cont {}

.con_wrap .our_con .swiper_button_box {
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  flex-direction: row-reverse;
}

.con_wrap .our_con .swiper_button_box .swiper_btn {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color-line);
  border-radius: 10px;
}

.con_wrap .our_con .swiper_button_box .swiper_btn.swiper_btn_prev {
  margin-right: 20px;
}

.con_wrap .our_con .swiper_button_box .swiper_btn.swiper_btn_prev img {
  transform: rotate(180deg);
}

.con_wrap .our_con .swiper-button-disabled img {
  opacity: .3;
}



/* QA 쓰기 css */
/* 버튼 스타일 조정 */
.btns {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  margin-top: 20px;
}


.write_btn {
  padding: 10px 20px;
  background-color: var(--color-space);
  border-radius: 10px;
  font-weight: 500;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
}

.list_btn {
  padding: 10px 20px;
  background-color: var(--color-space);
  border-radius: 10px;
  font-weight: 500;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
  border-radius: 10px;
}

/* 파일 업로드 버튼 */
#file {
  padding: 5px 20px;
  background-color: var(--color-space);
  border-radius: 10px;
  font-weight: 500;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.file-input-wrapper {
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.file-input-wrapper input[type="file"] {
  flex-grow: 1;
  height: 100%;
  padding: 10px;
  border-radius: 10px;
  color: var(--color-white);
  background-color: var(--color-space);

}

.file-input-wrapper button {
  margin-left: 10px;
  transition: background-color 0.3s ease;
  padding: 10px 20px;
  background-color: var(--color-space);
  border-radius: 10px;
  font-weight: 500;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
}

#addfile {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

/* 테이블 공통 */
.qa_write_con .list_table,
.write_con .list_table,
.list_table.faq_table,
.ntc .list_table {
  border: none;
}

.qa_write_con .list_table::after,
.write_con .list_table::after,
.list_table.faq_table::after,
.ntc .list_table::after {
  content: none;
}

.qa_write_con .table_row,
.write_con .table_row,
.ntc .table_row {
  display: block;
}

.qa_write_con .table_row.table_header span,
.write_con .table_row.table_header span,
.qa_write_con #addfile span,
.write_con #addfile span,
.ntc .table_row.table_header span,
.ntc .contents span {
  color: #fff;
  font-size: 20px;
}

.write_con.con .list_table .table_header input,
.ntc .list_table .table_header input {
  width: 100%;
  padding: 10px;
  border-radius: 10px;
}

/* qa 버튼 */
.qa_btn {
  display: flex;
  justify-content: flex-end;
}

.qa_write_btn {
  right: 0px;
  padding: 10px 20px;
  background-color: var(--color-space);
  border-radius: 10px;
  font-weight: 500;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
  margin-top: 15px;
}


/* qa_detail 간격 */
.body .wrap .con_wrap .qa_title_box {
  color: var(--color-text);
  padding-bottom: 20px;
}

/* 수정 부분 */
.qa_write_con.con .list_table .table_header input {
  width: 100%;
  padding: 10px;
  border-radius: 10px;
}


/* 메인 스와이퍼 영역 */
.swiper-wrapper .swiper-slide .swiper_bg {
  background-size: cover !important;
  background-position: center !important;
  background-color: #000 !important;
  background-repeat: no-repeat !important;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

/* 리스트 */
/* div{
  border: 1px solid black;
} */

/* 게시글 작성 페이지 */
.write_box {
  height: max-content;
  background-color: var(--color-white);
  border-radius: 10px;
  padding: 10px;
}

.write_box .write_title {
  height: 50px;
}

.write_box .write_note {
  background-color: var(--color-white);
}

/* 바디 영역 중 타이틀 아래 영역 전체 */
.cont_box {
  display: flex;
  gap: 0 10px;
}

.cont_box .cate_box {
  flex: 1.5;
}

.cont_box .list_box {
  flex: 8.5;
}

.cont_box .sub_menu {
  display: none;
}

.cont_box .cont_body {
  flex: 1;
  min-height: 450px;
  position: relative;
}

.cont_box .cont_body::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  background-color: var(--color-space);
  border-radius: 10px;
  opacity: .4;
  z-index: 0;
}

.cont_box .cont_body .board_box {
  padding: 10px;
}

.cont_box .cont_body .board_head {
  min-height: 100px;
  color: var(--color-text);
  z-index: 3;
  position: relative;
}

.cont_box .cont_body .board_head .title {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.cont_box .cont_body .board_head .title::after {
  width: 100%;
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  margin: 20px 0;
  background-color: var(--color-white);
}

.cont_box .cont_body .btn_box{
  position: relative;	
}

.cont_box .cont_body .btn_box .file_option {
  margin-right: 20px;
}

.cont_box .cont_body .btn_box .file_list {
  display: none;
  position: absolute;
  background-color: var(--color-files);
  right: 2.5%;
  top: 120%;
  padding: 0 12px;
  font-size: 14px;
  border-radius: 10px;
  z-index: 20;
}

.cont_box .cont_body .btn_box .file_list .down_file{
  padding: 10px;
  width: 100%
}

.cont_box .cont_body .board_head .board_info {
  display: flex;
  flex-wrap: wrap;
}

.cont_box .notice_cont .board_head .board_info {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.cont_box .cont_body .board_head .board_info::after {
  width: 100%;
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  margin: 15px 0;
  background-color: var(--color-white);
}

.cont_box .cont_body .board_head .board_info>div:not(.edit_box) {
  width: 15%;
}

.cont_box .cont_body .board_head .edit_box {
  width: 40%;
  display: flex;
  justify-content: end;
}

.cont_box .cont_body .board_head .edit_box .btn_box {
  padding: 0 5px;
}

.cont_box .cont_body .board_body {
  color: var(--color-text);
  z-index: 3;
  position: relative;
}

.cont_box .cont_body .board_body::after {
  display: block;
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: var(--color-white);
  top: 0;
  left: 0;
  opacity: .2;
  border-radius: 5px;
}

.cont_box .cont_body .note_box {
  position: relative;
  z-index: 4;
  background-color: var(--color-white);
}

.cont_box .cont_body .board_body .board_cont {
  min-height: 300px;
  padding: 10px;
}

.cont_box .cont_body .btn_box .edit_btn {
  display: none;
}

.cont_box .cont_body .option_box {
  z-index: 3;
  position: relative;
  display: flex;
  justify-content: center;
  height: 50px;
}

.cont_box .cont_body .btn_box .option_btn {
  padding: 7px;
  width: 60px;
  height: 100%;
  /* margin: 10px 0; */
}

.cont_box .cont_body .btn_box .option_btn i {
  scale: 2.5;
  color: var(--color-white);
}

.cont_box .cont_body .option_box .btn_box {
  background-color: var(--color-space);
  border-radius: 10px;
}

.cont_box .cont_body .btn_box .likes_option {
  min-width: 90px;
  padding: 13px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cont_box .cont_body .btn_box .likes_option i {
  scale: 2.5;
  color: var(--color-white);
  padding-left: 5px;
}

.cont_box .cont_body .btn_box .likes_option p {
  color: var(--color-text);
  font-size: 18px;
  font-weight: 500;
}

.cont_box .cont_body .comm_box {
  color: var(--color-text);
  z-index: 3;
  position: relative;
  padding: 0 10px;
}

.cont_box .cont_body .comm_box .write_comm {
  display: flex;
  /* height: 80px; */
}

.cont_box .cont_body .comm_box .write_comm .input_comm {
  width: 85%;
  height: 80px;
  border-radius: 10px;
  overflow: hidden;
}

.cont_box .cont_body .comm_box .write_comm .input_comm .input_box {
  background-color: var(--color-white);
  color: var(--color-black);
  width: 100%;
  height: 100%;
  padding: 10px;
  overflow: auto;
}

.cont_box .cont_body .comm_box .write_comm .btn_box {
  width: 15%;
  display: flex;
  justify-content: end;
}

.cont_box .cont_body .comm_box .write_comm .btn_box .write_btn {
  width: 85%;
  height: 100%;
  border-radius: 10px;
}

.cont_box .cont_body .comm_box .choi_box .btn_box {
  flex: 1;
}

.cont_box .cont_body .comm_box .comm_list {
  min-height: 120px;
}

.cont_box .cont_body .comm_box .comm_list .no_comm{
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 30px;
}

.cont_box .cont_body .comm_box .comm_list .comm {
  min-height: 80px;
  display: flex;
  flex-wrap: wrap;
  position: relative;
  margin-top: 10px;
}

.cont_box .cont_body .comm_box .comm_list .comm::after {
  width: 100%;
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  margin: 7px 0;
  background-color: var(--color-white);
}

.cont_box .cont_body .comm_box .comm_list .comm .comm_info {
  height: 40px;
  width: 100%;
  display: flex;
}

.cont_box .cont_body .comm_box .comm_list .comm .comm_info .btn_box {
  display: none;
}

.cont_box .cont_body .comm_box .comm_list .comm .comm_info div {
  width: 18%;
}

.cont_box .cont_body .comm_box .comm_list .comm .comm_cont {
  width: 80%;
  min-height: 40px;
}

.cont_box .cont_body .comm_box .comm_list .comm .edit_box {
  width: 20%;
  display: flex;
  justify-content: flex-end;
}

.cont_box .cont_body .comm_box .comm_list .comm .edit_box .btn_box {
  padding-left: 5px;
  display: flex;
}

.cont_box .cont_body .comm_box .comm_list .comm .btn_box .likes_option {
  background-color: var(--color-space);
}



.cont_box .list_box .list_table:not(:first-child, :nth-child(2), :last-child) {
  display: none;
}

.cont_box .list_box .list_table .table_row a {
  flex: 1;
  display: flex;
}

.cont_box .list_box .bottom_box {
  text-align: right;
  /* color: var(--color-text); */
  display: flex;
  align-items: center;
  margin-top: 30px;
  position: relative;
  min-height: 45px;
}

.cont_box .list_box .bottom_box .navi_box {
  width: 100%;
  font-size: 18px;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cont_box .list_box .bottom_box .navi_box a {
  padding: 0 20px;
}

.cont_box .list_box .bottom_box .navi_box .arr_navi {
  padding: 5px 10px;
  border-radius: 5px;
  position: relative;
  margin: 0 10px;
}

.cont_box .list_box .bottom_box .navi_box .arr_navi::after {
  background-color: var(--color-white);
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 5px;
}

.cont_box .list_box .bottom_box .navi_box .cpage {
  color: var(--color-yellow);
}

.cont_box .list_box .bottom_box .navi_box .page_navi .navi_icon {
  width: 20px;
  height: 20px;
  top: 4px;
  z-index: 1;
}

.cont_box .list_box .bottom_box .navi_box .page_navi .start_navi {
  rotate: 180deg;
}

.cont_box .list_box .bottom_box .navi_box .start_arr.disabled ,
.cont_box .list_box .bottom_box .navi_box .end_arr.disabled  {
  opacity: 0.6;
  pointer-events: none;
}
.cont_box .list_box .bottom_box .navi_box a.active {
	color:var(--color-yellow);
}
.cont_box .list_box .bottom_box .btn_box .write_btn {
  width: 120px;
  border-radius: 10px;
}

/* 바디 영역 중 카테고리 영역 */
.sub_box {
  position: relative;
  height: 100%;
  min-height: 600px;
}

.sub_box::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  background-color: var(--color-space);
  border-radius: 10px;
  opacity: .4;
  z-index: 0;
}

.sub_box ul {
  color: var(--color-text);
  z-index: 3;
  position: relative;
}

.sub_box ul a {
  display: flex;
  padding: 15px;
}

.sub_box ul .sub_title {
  font-size: 22px;
}

.sub_box ul .not_link {
  margin-left: 15px;
}

/* 바디 영역 중 게시글 목록 영역 */
.choi_box {
  height: 65px;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: row-reverse;
}

.choi_box .btn_box {
  flex: 2;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.choi_box .btn_box .choi_btn {
  width: 90%;
  min-width: 110px;
  height: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
}



.choi_box .btn_box .choi_btn.active{
  background-color: var(--color-space-click);
}

.choi_box .flex_space {
  flex: 4;
}

.choi_box .search_bar {
  flex: 4;
  display: flex;
  justify-content: center;
  border-radius: 10px;
  overflow: hidden;
}

.choi_box .search_bar .search_input {
  flex: 9;
}

.choi_box .search_bar .search_input .input_tag {
  width: 100%;
  height: 100%;
  padding: 10px;
}

.choi_box .search_bar .search_img {
  flex: 1;
  min-width: 40px;
  background-color: var(--color-white);
}

.choi_box .search_bar .search_img a {
  display: flex;
  padding: 7px 5px;
}

/* game_list 스타일 */
.game_list {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  position: relative;
  margin: auto;
  gap: 0 40px;
}

.game_list::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  display: block;
  bottom: 0;
  border-bottom: 1px solid white;
}

.game_list a {
  margin: 0 20px;
  text-decoration: none;
  color: var(--color-text);
  font-size: 20px;
  position: relative;
  z-index: 1;
}


.top_rank {
  margin-top: 15px;
  color: #f75d59;
  font-weight: bold;
  text-align: right;
  font-size: 18px;
}


/* 단상 */
.dropdown-btn {
    opacity: 0;
}
.podium {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  height: 300px;
  margin: 10px;
  position: relative;
  color: white;
  font-size: 20px;
}

.podium div {
  text-align: center;
  margin: 25px;
  padding: 10px;
  width: 100px;
  position: relative;
}

.podium .first img {
  position: absolute;
  top: -270px;
  /* 이미지의 위치를 조정하는 값 */
  left: 55%;
  transform: translateX(-50%);
  /* 이미지 크기 조정 */
  width: 120px;
  height: 120px;
  z-index: 1;
}

.podium .first-2 {
  position: absolute;
  top: -240px;
  left: 30%;
  transform: translateX(-50%);
  width: 120px;
  height: 120px;
  z-index: 1;
  display: flex;
  flex-direction: column-reverse;
}

.podium .second img {
  position: absolute;
  /* 이미지의 위치를 조정하는 값 */
  top: -225px;
  left: 10%;
  transform: translateX(-50%);
  /* 이미지 크기 조정 */
  width: 120px;
  height: 120px;
  /* 이미지 크기 조정 */
  z-index: 1;
}

.podium .second-2 {
  position: absolute;
  top: -195px;
  left: -15%;
  transform: translateX(-50%);
  width: 120px;
  height: 120px;
  z-index: 1;
  display: flex;
  flex-direction: column-reverse;
}

.podium .third img {
  position: absolute;
  /* 이미지의 위치를 조정하는 값 */
  top: -205px;
  left: 105%;
  transform: translateX(-50%);
  /* 이미지 크기 조정 */
  width: 120px;
  height: 120px;
  /* 이미지 크기 조정 */
  z-index: 1;
}

.podium .third-2 {
  position: absolute;
  top: -175px;
  left: 80%;
  transform: translateX(-50%);
  width: 120px;
  height: 120px;
  z-index: 1;
  display: flex;
  flex-direction: column-reverse;
}

.podium img {
  position: absolute;
  width: 600px;
  height: 150px;
}


/* 랭킹 리스트 */

.rank .table_col:nth-child(1) {
  width: 25%;
}

.rank .table_col:nth-child(2) {
  width: 25%;
  text-align: center;
}

.rank .table_header .table_col:nth-child(2) {
  width: 25%;
  text-align: center;
}

.rank .table_col:nth-child(3) {
  width: 25%;
}

.rank .table_col:nth-child(4) {
  width: 25%;
}

.rank .list_table .table_col .img {
  max-width: 14%;
  min-width: 50px;
}

.rank .table_row {
  display: flex;
  position: relative;
  z-index: 3;
  border-top: 1px solid var(--color-line);
  align-items: center;
}
.rank .table_row span{
	text-align:center;
}


/*  */
/* qa_list 스타일 */
.agent_list {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  position: relative;
  gap: 0 40px;
}

.agent_list::after {
  content: "";
  width: 50%;
  height: 100%;
  position: absolute;
  display: block;
  bottom: 0;
  border-bottom: 1px solid white;
}

.agent_list a {
  margin: 0 20px;
  text-decoration: none;
  color: var(--color-text);
  font-size: 20px;
  position: relative;
  z-index: 1;
}

/* qa 리스트*/
.qa .table_col:nth-child(1) {
  width: 25%;
}

.qa .table_col:nth-child(2) {
  width: 25%;
  text-align: center;
}

.qa .table_header .table_col:nth-child(2) {
  width: 25%;
  text-align: center;
}

.qa .table_col:nth-child(3) {
  width: 25%;
}

.qa .table_col:nth-child(4) {
  width: 25%;
}

/* qa 버튼 */
.qa_btn {
  display: flex;
  justify-content: flex-end;
}

.qa_write_btn {
  right: 0px;
  padding: 10px 20px;
  background-color: var(--color-space);
  border-radius: 10px;
  font-weight: 500;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
  margin-top: 15px;
}

.qa_write_btn:hover {
  background-color: var(--color-space-click);
}

/* qa_detail 간격 */
.body .wrap .con_wrap .qa_title_box {
  color: var(--color-text);
  padding-bottom: 20px;
}
/* faq리스트 */
/* 토글 버튼 스타일 */
.faq-title {
  font-size: 20px;
  margin: 0;
  color: white;
  font-weight: bold;
}

.list_table.faq_table .faq.active .faq-text {
  display: block;
}

.faq-toggle .fas {
  display: none;
}

.list_table.faq_table ul li .faq-toggle .fa-chevron-down {
  display: inline;
  right: 20px;
  top: calc((100% - 20px) / 2);
  position: absolute;
  font-size: 20px;
}

.list_table.faq_table ul li.faq.active .faq-toggle .fa-chevron-down {
  display: none;
}

.faq.active .faq-toggle .fa-times {
  display: inline;
  right: 20px;
  top: 20px;
  position: absolute;
  font-size: 20px;
}

.list_table.faq_table ul li {
  margin-bottom: 10px;
  padding: 20px 10px;
  border: 1px solid white;
  border-radius: 10px;
  position: relative;
}

.list_table.faq_table ul li::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  display: block;
  background-color: var(--color-space);
  top: 0;
  left: 0;
  opacity: .8;
  z-index: 0;
  border-radius: 10px;
}

.list_table.faq_table ul li * {
  position: relative;
  z-index: 1;
}

.list_table.faq_table .faq-text {
  display: none;
  margin-top: 15px;
  color: white;
}

.list_table.faq_table .faq-toggle {
  background: none;
  border: none;
  cursor: pointer;
  position: absolute !important;
  left: 0;
  top: 0;
  color: #fff;
  width: 100%;
  height: 100%;
}

/* 마이페이지 */
.profile_container {
  display: flex;
  margin: 0 auto;
  padding: 24px 30px 0;
}


/* 좌측 탭 요소들 */
.profile_aside {
  margin-right: 24px;
  box-shadow: 0 2px 30px 0 rgba(0, 0, 0, 0.06);
}

.tab_container {
  width: 240px;
  height: 100%;
  color: var(--color-text);
  padding: 16px;
  position: relative;
  z-index: 1;
}

.tab-dropdown {
  display: none;
}

.tab_container::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  opacity: 0.5;
  top: 0;
  left: 0;
  border-radius: 10px;
  background-color: var(--color-space);
  z-index: -1;
}

.tab_container>ul,
.tab_wrapper {
  padding: 5px 4px 5px 8px;
}

.tab_container>button {
  display: flex;
  align-items: center;
  width: 100%;
}

.tab_container .tab_item button {
  font-size: 16px;
  padding: 8px;
}

.tab_container .tab_title {
  font-size: 20px;
}

/* -------------------- */

.tab_title {
  font-size: 12px;
  color: #999;
}

.profile_contents_wrap {
  display: none;
}

/* 마이페이지 기본 화면 : 내 프로필 */
.default_contents {
  display: block;
}

/* 우측 프로필 창 요소들 */

.my_score .list_table::after,
.my_post .list_table::after,
.my_comment .list_table::after,
.my_bookmark .list_table::after,
.my_question .list_table::after {
  opacity: 0.2;
  background-color: var(--color-white);
}

.profile_wrapper {
  display: flex;
  flex-direction: column;
  flex: 1 1;
  color: #fff;
  position: relative;
}

.profile_contents::after {
  display: block;
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  opacity: 0.5;
  top: 0;
  left: 0;
  border-radius: 10px;
  background-color: var(--color-space);
}

.profile_contents_wrap>.profile_contents {
  margin-top: 18px;
  position: relative;
  border-radius: 10px;
  padding: 30px;
}

.profile_contents_wrap>.profile_contents .edit_account {
  padding: 10px;
}

.profile_contents_wrap .profile_title {
  font-size: 20pt;
  padding-bottom: 20px;
}

.profile_contents .my_profile,
.profile_contents .my_history,
.profile_contents .my_account,
.profile_contents .delete_account,
.profile_contents .edit_account {
  display: flex;
  align-items: center;
  position: relative;
  z-index: 1;
}



/* .my_profile img {
  width: 120px;
  height: 120px;
  margin-right: 10px;
} */

.my_profile {
  display: flex;
  justify-content: space-between;
}

.profile_left {
  display: flex;
  align-items: center;
}

.profile_image_container {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  overflow: hidden;
  margin-right: 20px;
  border: 2px solid #fff;
  display: flex;
}

.profile_image_container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.my_profile span {
  display: flex;
  font-size: 25px;
  margin: 6px;
}

.my_account button,
.my_profile button {
  padding: 10px 20px;
  background-color: var(--color-space);
  border-radius: 5px;
  font-weight: 500;
  font-size: 18px;
  cursor: pointer;
  margin-left: auto;
}

.my_history ul li {
  font-size: 18px;
  font-weight: 500;
  padding: 12px;
}

.delete_account button,
.edit_account button {
  padding: 10px 20px;
  background-color: var(--color-space);
  border-radius: 5px;
  font-weight: 500;
  font-size: 18px;
  cursor: pointer;
  margin-left: auto;
}

/* 계정관리 스타일 */

.my_account {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 10px 0;
}

.my_account label {
  /* 전체 너비 사용 */
  width: 100%;
  /* 요소 간 간격 추가 */
  margin-bottom: 10px;
  margin-left: 14px;
}



.my_account input {
  width: 100%;
  padding: 10px;
  font-size: 16px;

  border-radius: 4px;
  /* 배경색 투명으로 변경 */
  background-color: transparent;
  /*readonly 처리한 이메일 흐릿하게 */
  color: #ccc;
  margin-bottom: 24px;
}



.my_account input:focus {
  outline: none;
  /* 포커스 시 테두리 색상 변경 */
  border-color: #888;
}


.edit_account {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#edit_actions {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
}



/* delete_account안의 ul li안의 label 왼쪽 정렬 */
.delete_account ul li {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.delete_account ul li label {
  flex: 1;
  text-align: left;
}

/* 회원탈퇴 버튼 오른쪽 정렬 */
.delete_account ul li button {
  margin-left: auto;
}




/* 마이페이지 게임 기록 확인  */

.my_score select {
  position: relative;
  z-index: 1;
  width: 200px;
}

.my_score .table_col:nth-child(1) {
  width: 10%;
}

.my_score .table_col:nth-child(2) {
  width: 60%;
  text-align: center;
}

.my_score .table_col:nth-child(3) {
  width: 10%;
}

.my_score .table_col:nth-child(4) {
  width: 20%;
}

.my_comment .table_col:nth-child(2) span,
.my_question .table_col:nth-child(2) span,
.my_bookmark .table_col:nth-child(2) span,
.my_post .table_col:nth-child(2) span {
  text-align: center;
}

.my_post .table_col:nth-child(2),
.my_comment .table_col:nth-child(2),
.my_question .table_col:nth-child(2),
.my_bookmark .table_col:nth-child(2) {
  text-align: center;
}

.my_post .table_col:nth-child(3),
.my_comment .table_col:nth-child(3),
.my_question .table_col:nth-child(3),
.my_bookmark .table_col:nth-child(3) {
  width: 20%;
}

/* 마이페이지 페이지네이션*/






/* 드롭다운 기본 스타일 */
.dropdown-container {
  /* width: 100%; */
  /* 필요에 따라 조정 */
  margin: 20px 0;
  text-align: left;
  display: flex;
  justify-content: flex-end;
  padding: 10px;
}

.profile_contents label {
  display: block;
  margin-bottom: 5px;
  font-size: 18px;
  color: var(--color-white);
}

.dropdown {
  width: 100%;
  padding: 10px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 4px;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNCAyNCI+PHBhdGggZmlsbD0iIzAwMCIgZD0iTTAgMGgyNHYyNEgwVjB6IiBmaWxsPSJub25lIi8+PHBhdGggZD0iTTEyIDE1LjVsLTYtNmgxMnptMCAyaC0xMmwtNi02aDEybC02IDZ6Ii8+PC9zdmc+') no-repeat right 10px center;
  background-color: #fff;
  background-size: 12px;
}

.dropdown:focus {
  border-color: #000;
  outline: none;
}

/* 관리자 공지사항 작성폼 */
.ntc.list_table::after {
  content: none;
}

.ntc.list_table {
  border-top: none;
}

.ntc_write_con.con .list_table .table_header input {
  width: 100%;
  padding: 10px;
  border-radius: 10px;
}

/* 관리자 공지사항 수정폼 */
.notice-edit .file-input-wrapper {
	display: flex;
	align-items: center;
	margin-top: 5px;
}

.notice-edit .file-input-wrapper input[type="file"] {
	flex: 1;
}

.notice-edit .file-input-wrapper button {
	margin-left: 10px;
}

.notice-edit .file-list-wrapper {
	display: flex;
	align-items: center;
	margin-top: 5px;
}

.notice-edit .file-list-wrapper span {
	flex: 1;
	color: white;
	font-size: 15px;
	padding-left: 5px;
}

.notice-edit .file-list-wrapper button {
	margin-left: 10px;
}


/* 모바일 */
@media (hover: hover) {

  /* 메인 페이지 화살표 */
  .con_wrap.main_con .dual_con .title_box a:hover {
    opacity: 1;
  }

  /* 글 작성 */
  .write_con.con .list_table #addfile #file:hover {
    background-color: var(--color-space-click);
  }

  .write_con.con button:hover {
    background-color: var(--color-space-click);
  }

  /* qna */
  .qa_write_con.con .list_table #addfile #file:hover {
    background-color: var(--color-space-click);
  }

  .qa_write_con.con button:hover {
    background-color: var(--color-space-click);
  }

  /* 리스트 */
  .choi_box .btn_box .choi_btn:hover {
    background-color: var(--color-space-click);
  }

  /* qa */
  .qa_write_btn:hover {
    background-color: var(--color-space-click);
  }

  /* 좋아요 */
  .cont_box .cont_body .comm_box .comm_list .comm .btn_box .likes_option:hover {
    background-color: var(--color-space-click);
  }
}



@media all and (max-width: 1100px) {
  .con_wrap.main_con .dual_con .rank_con .rank_cont div a {
    width: 80px;
    height: 80px;
  }

  .con_wrap.main_con .dual_con .rank_con .rank_cont .first_place a {
    top: 20%;
  }

  .con_wrap.main_con .dual_con .rank_con .rank_cont .third_place a {
    right: 1%;
  }
}


@media all and (max-width: 750px) {
  .con_wrap.main_con .dual_con {
    gap: 0px 30px;
  }

  .con_wrap.main_con .noti_con .table_col:nth-child(1) {
    width: 75%;
  }

  .con_wrap.main_con .noti_con .table_col:nth-child(2) {
    width: 25%;
  }

  /* 마이페이지 */
  .profile_aside {
    display: none;
    /* 750px 이하일 때 숨기기 */
  }

  .profile_container {
    padding: unset;
  }

  .tab-dropdown {
    display: block;
  }

  /* 모바일에선 padding 없앰 */
  .profile_contents_wrap>.profile_contents {
    padding: unset;
    position: relative;
  }

  /* padding이 없어짐으로써, 곡선 정리 */
  .profile_contents::after {
    border-radius: unset;
  }

}

@media all and (max-width: 650px) {

  .body .wrap .con_wrap.main_con {
    padding: 60px 0;
  }

  .body .wrap .con_wrap .title_box {
    padding-bottom: 20px;
  }

  .body .wrap .con_wrap .title {
    font-size: 20px;
  }

  .body .wrap .con_wrap .subtxt {
    font-size: 16px;
  }

  .body .wrap .con_wrap {
    flex: 1 1 auto;
    width: 100%;
  }

  /* 메인 콘텐츠 */
  .swiper-wrapper .swiper-slide .swiper_bg {
    min-height: 300px;
  }

  /* 게임 콘텐츠 스와이퍼 */
  .con_wrap.main_con .game_con {
    margin-bottom: 30px;
  }

  .con_wrap.main_con .game_con .swiper_button_box .swiper_btn.swiper_btn_prev {
    margin-right: 10px;
  }

  .con_wrap.main_con .game_con .swiper_button_box .swiper_btn {
    width: 27px;
    height: 27px;
  }

  /* 랭킹 콘테이너 */
  .con_wrap.main_con .dual_con .rank_con .rank_cont {
    height: 250px;
  }

  .con_wrap.main_con .dual_con .rank_con .rank_cont div a {
    width: 75px;
    height: 75px;
  }

  .con_wrap.main_con .dual_con .rank_con .rank_cont .first_place a {
    top: 16%;
  }

  .con_wrap.main_con .dual_con .rank_con .rank_cont .second_place a {
    top: 34%;
  }

  .con_wrap.main_con .dual_con .rank_con .rank_cont .third_place a {
    right: 15%;
  }

  /* 게시판 콘테이너  */
  .con_wrap.main_con .dual_con {
    flex-direction: column;
    gap: 40px 0;
    height: auto;
  }

  /* our page */
  .con_wrap .our_con .swiper_cont.ourswiper_cont {
    padding-top: 0;
  }

  .con_wrap .our_con .swiper_button_box .swiper_btn {
    width: 27px;
    height: 27px;
  }

  .con_wrap .our_con .swiper_button_box .swiper_btn.swiper_btn_prev {
    margin-right: 10px;
  }

  .body_area .con_wrap .our_con .our_cont {
    border: 2px solid;
    padding: 40px 5px 40px 5px;
  }

  /* 리스트 */
  .cont_box {
    flex-direction: column;
    gap: 10px 0;
  }

  .cont_box .sub_menu {
    display: block;
    height: 50px;
    padding-left: 10px;
    border-radius: 10px;
  }

  .cont_box .list_box .choi_box {
    padding-bottom: 5px;
    height: 105px;
    flex-wrap: wrap-reverse;
  }

  .cont_box .list_box .choi_box .search_bar {
    flex: none;
    width: 100%;
  }

  .cont_box .list_box .choi_box .search_bar .search_img {
    display: flex;
  }

  .cont_box .list_box .choi_box .search_bar .search_img a {
    flex: 1;
    display: flex;
    padding: 5px 10px;
    justify-content: flex-end;
    align-items: center;
  }

  .cont_box .list_box .choi_box .search_bar .search_img a img {
    width: 20px;
    height: 20px;
  }

  .cont_box .list_box .choi_box .btn_box {
    justify-content: center;
    padding: 10px 0;
  }

  .cont_box .list_box .choi_box .btn_box .choi_btn {
    font-size: 14px;
    min-width: 90px;
    width: 100%;
  }

  .cont_box .list_box .choi_box .btn_box #recent_btn {
    margin-right: 7px;
  }

  .cont_box .list_box .choi_box .btn_box #views_btn {
    margin-right: 7px;
  }

  .cont_box .list_box .choi_box .btn_box.betw_btn #views_btn {
    margin: 0 7px;
  }

  .cont_box .list_box .choi_box .btn_box #likes_btn {
    margin-left: 7px;
  }

  .list_box .list_table .table_header {
    justify-content: center;
  }

  .list_box .list_table .table_row a {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
  }

  .list_box .list_table .table_row .table_col:nth-child(2) {
    width: 100%;
    font-size: 18px;
  }

  .list_box .list_table .table_row .table_col {
    padding-left: 10px;
  }

  .list_box .list_table .table_row .table_col:nth-child(3),
  .table_col:nth-child(4),
  .table_col:nth-child(5) {
    width: 30%;
  }

  .cont_box .list_box .bottom_box {
    margin-top: 15px;
    flex-direction: column-reverse;
  }

  .cont_box .list_box .bottom_box .btn_box {
    width: 100%;
  }

  .cont_box .list_box .bottom_box .btn_box .write_btn {
    width: 100%;
    margin-bottom: 5px;
    font-size: 14px;
  }

  /* 디테일 페이지 */
  .cont_box .cont_body .board_head .board_info>div:not(.edit_box) {
    width: 50%;
    font-size: 14px;
    padding: 5px 0;
  }

  .cont_box .cont_body .board_head .board_info .edit_box {
    width: 100%;
    margin-top: 5px;
    justify-content: space-between;
  }

  .cont_box .cont_body .board_head .board_info .edit_box .btn_box {
    width: 33%;
  }

  .cont_box .cont_body .board_head .board_info .edit_box .btn_box .write_btn {
    font-size: 14px;
    width: 100%;
    min-width: 80px;
    margin: 5px 0;
  }

  .cont_box .cont_body .btn_box .likes_option {
    padding: 16px 17px;
  }

  .cont_box .cont_body .btn_box .likes_option i {
    scale: 2;
  }

  .cont_box .cont_body .comm_box .write_comm {
    /* flex-direction: column; */
    gap: 0 10px;
  }

  .cont_box .cont_body .comm_box .write_comm .input_comm {
    width: 75%;
    padding: 5px 0;
  }

  .cont_box .cont_body .comm_box .write_comm .btn_box {
    width: 25%;
    display: block;
    /* height: 70px; */
  }

  .cont_box .cont_body .comm_box .write_comm .btn_box .write_btn {
    width: 100%;
    height: 100%;
    font-size: 14px;
  }

  .cont_box .cont_body .comm_box .choi_box {
    padding-top: 20px;
    justify-content: flex-start;
    gap: 0 10px;
  }

  .cont_box .cont_body .comm_box .choi_box .btn_box {
    flex: none;
    /* padding-right: 10px; */
  }

  .cont_box .cont_body .comm_box .choi_box .btn_box .write_btn {
    font-size: 14px;

  }

  .cont_box .cont_body .comm_box .comm_list .comm .comm_info {
    width: 100%;
  }

  .cont_box .cont_body .comm_box .comm_list .comm .comm_info .btn_box {
    display: inline-block;
    display: flex;
    justify-content: end;
  }

  .cont_box .cont_body .comm_box .comm_list .comm .comm_info>div:not(.btn_box) {
    width: 50%;
    word-break: keep-all;
    font-size: 14px;
  }

  .cont_box .cont_body .comm_box .comm_list .comm .comm_info button {
    height: 100%;
    font-size: 14px;
    word-break: keep-all;
  }

  .cont_box .cont_body .comm_box .comm_list .comm .comm_info .btn_box .option_btn {
    min-width: 68px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
  }

  .cont_box .cont_body .comm_box .comm_list .comm .edit_box {
    width: 100%;
    height: 35px;
  }

  .cont_box .cont_body .comm_box .comm_list .comm .edit_box .btn_box:not(:last-child) {
    width: 20%;
  }

  .cont_box .cont_body .comm_box .comm_list .comm .edit_box .btn_box .write_btn {
    font-size: 14px;
    width: 100%;
  }

  .cont_box .cont_body .btn_box .mark_option {
    margin-right: 0;
  }

  .cont_box .cont_body .btn_box .likes_option span {
    color: var(--color-text);
    font-size: 16px;
  }

  .cont_box .cont_body .comm_box .comm_list .comm .edit_box .btn_box .likes_option {
    padding: 10px 15px;
    min-width: 72px;
    width: 100%;
  }

  .cont_box .cont_body .comm_box .comm_list .comm .comm_cont {
    width: 100%;
    font-size: 14px;
  }

  /* 게시글 작성 및 수정 */
  .write_con .table_row.table_header span,
  .write_con #addfile span {
    font-size: 18px;
  }

  .write_con .btns {
    flex-direction: column;
  }

  .write_con .btns button {
    font-size: 14px;
  }

  /* 게임 랭킹 반응형 */
  .dropdown-btn {
    opacity: 1;
    display: block;
    background-color: var(--color-space-click);
    color: white;
    padding: 10px;
    margin-top: 10px;
    text-align: center;
    cursor: pointer;
    font-size: 16px;
  }
  .game_list {
    display: none;
    flex-direction: column;
    gap: 10px 0;
  }

  .game_list.show {
    display: flex;
  }

  .podium img {
    position: absolute;
    width: 450px;
    height: 150px;
  }

  /* .game_list a {
    margin: 0;
    text-decoration: none;
    color: var(--color-text);
    font-size: 20px;
    position: relative;
    z-index: 1;
  } */

  .podium .first img {
    position: absolute;
    /* 이미지의 위치를 조정하는 값 */
    top: -275px;
    left: 55%;
    transform: translateX(-50%);
    width: 120px;
    height: 120px;
    z-index: 1;
    padding-top: 10px;
  }

  .podium .first-2 {
    position: absolute;
    top: -245px;
    left: 30%;
    transform: translateX(-50%);
    width: 120px;
    height: 120px;
    z-index: 1;
    display: flex;
    flex-direction: column-reverse;
  }

  .podium .second img {
    position: absolute;
    top: -225px;
    left: 55%;
    transform: translateX(-50%);
    width: 120px;
    height: 120px;
    z-index: 1;
    padding-top: 10px;
  }

  .podium .second-2 {
    position: absolute;
    top: -195px;
    left: 55%;
    transform: translateX(-70%);
    width: 120px;
    height: 120px;
    z-index: 1;
    display: flex;
    flex-direction: column-reverse;
  }

  .podium .third img {
    position: absolute;
    top: -205px;
    left: 55%;
    transform: translateX(-50%);
    width: 120px;
    height: 120px;
    z-index: 1;
    padding-top: 10px;
  }

  .podium .third-2 {
    position: absolute;
    top: -175px;
    left: 30%;
    transform: translateX(-50%);
    width: 120px;
    height: 120px;
    z-index: 1;
    display: flex;
    flex-direction: column-reverse;
  }

  .top_rank {
    margin-top: 15px;
    color: #f75d59;
    font-weight: bold;
    text-align: right;
    font-size: 15px;
  }

  /* 마이페이지 */
  .profile_contents .my_profile,
  .profile_contents .my_history,
  .profile_contents .my_account,
  .profile_contents .delete_account {
    flex-direction: column;
    padding: 10px;
  }

  .my_account button,
  .my_profile button {
    margin: unset;
  }

  .profile_left {
    flex-direction: column;
    align-items: center;
  }


  .delete_account button {
    margin-left: 0;
  }


}

@media (min-width: 650px) and (max-width: 1000px) {

  /* 게시판 페이지 */
  .cont_box {
    flex-direction: column;
    gap: 20px 0;
  }

  .cont_box .cate_box {
    display: none;
  }

  .cont_box .sub_menu {
    display: block;
    height: 50px;
    padding-left: 10px;
    border-radius: 10px;
  }

  .choi_box .flex_space {
    display: none;
  }

  .choi_box .search_bar .search_img {
    width: 30px;
  }

  .choi_box .search_bar .search_img a {
    padding: 7px;
  }

  .cont_box .list_box .list_table .table_col:nth-child(1) {
    display: none;
  }

  .cont_box .list_box .list_table .table_col:nth-child(2) {
    width: 60%;
    padding-left: 10px;
  }

  .cont_box .list_box .list_table .table_col:nth-child(3),
  .cont_box .list_box .list_table .table_col:nth-child(4) {
    width: 15%;
  }

  .cont_box .list_box .list_table .table_col:nth-child(5) {
    width: 10%;
  }

  .cont_box .list_box .bottom_box {
    margin-top: 15px;
    flex-direction: column-reverse;
  }

  .cont_box .list_box .bottom_box .btn_box {
    width: 100%;
    text-align: right;
  }

  .cont_box .list_box .bottom_box .btn_box .write_btn {
    width: 20%;
    margin-bottom: 5px;
    font-size: 14px;
  }

  /* 게시판 디테일 페이지 */
  .cont_box .cont_body .board_head .board_info>div:not(.edit_box) {
    width: 25%;
    font-size: 16px;
  }
  .cont_box .cont_body .board_head .board_info>div:nth-child(2) {
    width: 35%;
  }
  .cont_box .cont_body .board_head .board_info>div:nth-child(3) {
    width: 15%;
  }

  .cont_box .cont_body .board_head .edit_box {
    width: 100%;
    margin-top: 10px;
  }

  .cont_box .cont_body .board_head .board_info .edit_box .btn_box .write_btn {
    font-size: 16px;
  }

  .cont_box .cont_body .comm_box .choi_box .btn_box {
    flex: none;
    width: 30%;
  }

  .cont_box .cont_body .comm_box .choi_box .btn_box .write_btn {
    font-size: 16px;
  }

  .cont_box .cont_body .comm_box .comm_list .comm .comm_info div {
    min-width: 25%;
    width : fit-content;
  }

  .cont_box .cont_body .comm_box .comm .btn_box .write_btn {
    font-size: 14px;
    word-break: keep-all;
  }

  .cont_box .cont_body .comm_box .comm .btn_box .likes_option {
    padding: 10px 17px;
  }

  .cont_box .cont_body .comm_box .comm .btn_box .likes_option span {
    font-size: 14px;
  }


  /* 마이페이지 반응형 */

  /* 버튼 토글 컨테이너 */
  .button_container {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    flex-shrink: 0;
  }


}

@media (min-width: 1000px) and (max-width: 1400px) {

  /* 게시판 페이지 */
  .cont_box .list_box .list_table .table_col:nth-child(2) {
    width: 65%;
    padding-left: 10px;
  }

  .cont_box .list_box .list_table .table_col:nth-child(3) {
    width: 15%;
  }

  .cont_box .list_box .list_table .table_col:nth-child(4),
  .cont_box .list_box .list_table .table_col:nth-child(5),
  .cont_box .list_box .list_table .table_col:nth-child(6)  {
    width: 10%;
  }

  /* 게시판 디테일 페이지 */
  .cont_box .cont_body .board_head .board_info>div:not(.edit_box) {
    width: 18%;
  }
    .cont_box .cont_body .board_head .board_info>div:nth-child(2) {
    width: 22%;
  }
  .cont_box .cont_body .board_head .board_info>div:nth-child(3) {
    width: 14%;
  }

  .cont_box .cont_body .board_head .edit_box {
    width: 28%;
  }

  .cont_box .cont_body .comm_box .comm .btn_box .write_btn {
    font-size: 16px;
    word-break: keep-all;
  }

  .cont_box .cont_body .comm_box .comm_list .comm .comm_info div {
    width: 25%;
  }
}

@media all and (max-width: 450px) {

  /* 랭킹 콘테이너 */
  .con_wrap.main_con .dual_con .rank_con .rank_cont .third_place a {
    right: 7%;
  }

  .body .wrap .con_wrap .rank .title_box {
    padding-bottom: 0px;
  }

  .body .wrap .con_wrap {
    padding: 30px 0 40px 0;
    flex: 1 1 auto;
  }

  /* 랭킹 */
  .game_list a {
    margin: 0;
    text-decoration: none;
    color: var(--color-text);
    font-size: 20px;
    position: relative;
    z-index: 1;
  }

  .podium {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 300px;
    margin: 0px;
    position: relative;
    color: white;
    font-size: 18px;
  }

  .podium div {
    text-align: center;
    margin: 25px;
    padding: 10px;
    width: 100px;
    position: relative;
    font-size: 17px;
  }

  .podium .first img {
    position: absolute;
    top: -245px;
    left: 55%;
    transform: translateX(-50%);
    width: 100px;
    height: 100px;
    z-index: 1;
  }

  .podium .first-2 {
    position: absolute;
    top: -240px;
    left: 15%;
    transform: translateX(-50%);
    width: 120px;
    height: 120px;
    z-index: 1;
    display: flex;
    flex-direction: column-reverse;
  }

  .podium .second img {
    position: absolute;
    top: -200px;
    left: 55%;
    transform: translateX(-50%);
    width: 100px;
    height: 100px;
    z-index: 1;
  }

  .podium .second-2 {
    position: absolute;
    top: -195px;
    left: 55%;
    transform: translateX(-70%);
    width: 120px;
    height: 120px;
    z-index: 1;
    display: flex;
    flex-direction: column-reverse;
  }

  .podium .third img {
    position: absolute;
    top: -180px;
    left: 60%;
    transform: translateX(-50%);
    width: 100px;
    height: 100px;
    z-index: 1;
  }

  .podium .third-2 {
    position: absolute;
    top: -175px;
    left: 15%;
    transform: translateX(-50%);
    width: 120px;
    height: 120px;
    z-index: 1;
    display: flex;
    flex-direction: column-reverse;
  }

  .podium img {
    position: absolute;
    width: 100%;
    height: 150px;
  }

  .rank .table_col {
    font-size: 15px;
  }

  .top_rank {
    font-size: 13px;
  }

  /* qa디테일 NO 숨김 */
  .qa_con .table_col:nth-child(1),
  .qa_detail_con .table_col:nth-child(1) {
    display: none;
  }

  .qa_con .table_col:nth-child(2),
  .qa_detail_con .table_col:nth-child(2) {
    width: 20%;
    text-align: center;
  }

  .qa_con .table_header .table_col:nth-child(2),
  .qa_detail_con .table_header .table_col:nth-child(2) {
    width: 20%;
    text-align: center;
  }

  .qa_con .table_col:nth-child(3),
  .qa_detail_con .table_col:nth-child(3) {
    width: 60%;
  }

  .qa_con .table_col:nth-child(4),
  .qa_detail_con .table_col:nth-child(4) {
    width: 20%;
  }


  /* qa 리스트*/
  .qa .table_col:nth-child(1) {
    width: 25%;
  }

  .qa .table_col:nth-child(2) {
    width: 25%;
    text-align: center;
  }

  .qa .table_header .table_col:nth-child(2) {
    width: 25%;
    text-align: center;
  }

  .qa .table_col:nth-child(3) {
    width: 25%;
  }

  .qa .table_col:nth-child(4) {
    width: 25%;
  }




}




